@model Triton.Pages.WayBill.WayBill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">Triton Express</div>
            <div class="panel-body">

                <div class="container">
                    <div class="row">


                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Triton Express</div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Triton Express</div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>






@*<div>
    <h4>WayBill</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WbId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WbId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WbFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WbFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WbFromContact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WbFromContact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WbFromPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WbFromPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LineAddress1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LineAddress1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LineAdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LineAdd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WbToContact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WbToContact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WbToPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WbToPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dimensions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dimensions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialInstructions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecialInstructions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
