@page
@model Triton.Pages.WayBill.AddParcelModel
@{
    ViewData["Title"] = "Parcel";
}

<div class="container">
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading"><h4 class="text-center"> WAYBILL PARCEL</h4></div>
            <div class="panel-body">
                <form method="post">

                    @Html.HiddenFor(m => m.Parcel.ReferenceNumber);
                    <div class="card">
                        <h5 class="card-header">PARCEL</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="">
                                        <label for="shipmentid">Reference Number</label>
                                        <input name="ReferenceNumber" value="@Parcel.RefNumber" class="form-control" readonly="readonly" />
                                        @* @Html.EditorFor(model => model.Parcel.ReferenceNumber, new { htmlAttributes = new { @class = "form-control", @readOnly = "readonly", @required = "required" } })*@
                                    </div>
                                    <div class="">
                                        <label for="shipmentdate">Dimensions</label>
                                        @Html.EditorFor(model => model.Parcel.Dimensions, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="">
                                        <label for="shipdate">Mass</label>
                                        @Html.EditorFor(model => model.Parcel.Mass, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    </div>
                                    <div class="">
                                        <label for="shipdate">Service</label>
                                        @Html.DropDownListFor(model => model.Parcel.Service, Parcel.ServiceList, "-- Select Service --", new { @class = "form-control", @required = "required" })
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" asp-page-handler="Submit" class="btn btn-primary"> Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
